//
//  DebugConfig-EnglishKeyboard.xcconfig
//  EnglishKeyboard
//
//  Created by 서동환 on 2/14/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common/Configs/Version.xcconfig"
#include "Pods/Target Support Files/Pods-EnglishKeyboard/Pods-EnglishKeyboard.debug.xcconfig"
