//
//  Release-SYKeyboard.xcconfig
//  SYKeyboard
//
//  Created by 서동환 on 2/14/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-SYKeyboard/Pods-SYKeyboard.release.xcconfig"
